{
	"token": "<token>",
	"commandPrefix": "<prefix>",
	"owner": [
		"IDs of the owners of the bot",
		"You can put multiple here"
	],
	"db": "<postgresql db url>",
	"requestsChannel": "<requests channel id>"
}
